.App {
	margin: 1rem;
	font-family: Arial, Helvetica, sans-serif;
}

.Heading {
	position: relative;
	background-color: #20232a;
	color: #ffffff;
	z-index: 1;
	width: 100%;
	top: 0;
	left: 0;
	padding: 1em;
}

.elem-header {
	font-size: xx-large;
	margin-left: 2em;
}

.app-container {
	margin: 0;
}